.fb-btn {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 3em;
}
.gg-twitter-btns {
    width: 100%;
    padding: 10px;
}
.Umbrella-picture {
    padding-top: 7em;
    display: flex;
    justify-content: center;
}
.logo {
    text-align: center !important;
    margin-top: 3em;
}
p {
    display: block;
    font-size: 12px;
    color: white;
    margin: 0px !important;
}
ion-content {
    --background: #3a415b;
}
