<ion-app>
  <ion-content>
    <div class="Umbrella-picture">
      <img src="../../../assets/icon/asset1.png" alt="Umbrella-picture" />
    </div>
    <div class="ion-align-self-center logo">
      <img src="../../../assets/icon/asset2.png" alt="logo" />
      <p class="ion-text-center">Unlock the full Experience</p>
    </div>
    <div class="fb-btn">
      <ion-button color="primary" expand="block"
        >sign in with facebook</ion-button
      >
    </div>
    <ion-row class="ion-align-self-center" class="gg-twitter-btns">
      <ion-col>
        <ion-button color="light" expand="block" (click)="navigateToHome()"
          >google</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="block">twitter</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
