img {
    border-radius: 15px;
    width: 100%;
}
h3 {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-right: 10%;
}
.product-name {
    font-size: 12px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
}
.product-details {
    font-size: 12px;
    color: blue;
    p {
        margin: 0px;
        max-width: 60px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
.info-container {
    display: -webkit-inline-box;
    display: flex;
    justify-content: center;
}
.store-name {
    font-size: 12px;
    margin: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 4px;
    overflow: hidden;
    color: gray;
}
