<ion-app>
  <ion-header>
    <ion-toolbar>
      <h3>Home</h3>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home" (click)="navigateToLoginPage()"
          >Back</ion-back-button
        >
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-row class="ion-padding">
      <ion-col size="6" *ngFor="let item of items">
        <img [src]="item?.image?.src" alt="" />
        <p class="ion-text-center product-name">{{item?.name}}</p>
        <div class="ion-text-center info-container">
          <div class="product-details">
            <p>
              {{item?.price | pricePipe}}
              <span>{{item?.currency}}</span>
            </p>
          </div>
          <p class="store-name">{{item?.store_name}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll
      threshold="100px"
      (ionInfinite)="getMoreProducts($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>
